/* Formulário */

form {
    grid-column: 1 / -1;
    width: 100%;
    max-width: 600px;
    margin: var(--espaco-grande) auto;
}

fieldset {
    border: 1px solid var(--cor-borda);
    padding: var(--espaco-grande);
}

legend {
    font-size: var(--tamanho-subtitulo);
    font-weight: bold;
}

label {
    display: block;
    margin-top: var(--espaco-medio);
    margin-bottom: var(--espaco-pequeno);
}

input,
select {
    width: 100%;
    box-sizing: border-box;
    padding: var(--espaco-medio);
    border: 2px solid var(--cor-borda);
    border-radius: 4px;
    font-size: var(--tamanho-texto);
    transition: 0.3s;
}


/* Validação */

input:focus,
select:focus {
    outline: none;
    border-color: var(--cor-acao);
}

input:valid,
select:valid {
    border-color: var(--cor-sucesso);
}

input:invalid,
select:invalid {
    border-color: var(--cor-erro);
}


/* Toast */

.toast {
    background-color: var(--cor-sucesso);
    color: var(--cor-texto);
    padding: var(--espaco-medio);
    border-radius: 4px;

    position: fixed;
    bottom: var(--espaco-medio);
    right: var(--espaco-medio);
}


/* Responsividade */

@media (max-width: 768px) {

    form {
        max-width: 100%;
    }
}