/* Projetos */

.projeto {
    grid-column: span 4;
}

.projeto h2 {
    font-size: var(--tamanho-subtitulo);
}

.projeto p {
    font-size: var(--tamanho-texto);
    line-height: 1.6;
}


/* Badges */

.badge {
    display: inline-block;
    padding: var(--espaco-pequeno);
    border-radius: 12px;
    font-size: var(--tamanho-pequeno);
    font-weight: bold;
}

.badge-adocao {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
}

.badge-doacao {
    background-color: var(--cor-acao);
    color: var(--cor-fundo);
}

.badge-voluntariado {
    background-color: var(--cor-informacao);
    color: var(--cor-texto);
}


/* Alerta */

/* Alerta */

.alert {
    grid-column: 1 / -1;
    background-color: var(--cor-informacao);
    border: 1px solid var(--cor-informacao);
    padding: var(--espaco-medio);
    margin-bottom: var(--espaco-grande);
}

.alert strong {
    color: var(--cor-texto);
}

/* Responsividade */

@media (max-width: 768px) {

    .projeto {
        grid-column: span 1;
    }
}